<style>
    *{
        color: whitesmoke;
        background-color: black;
    }
    div{
        color: whitesmoke;
        
    }
    </style>
<div class="chuachuachua">
</style>
<div class="mt-4">
    <h3>Đăng kí thông tin</h3>
    <form method="POST" action="/courses/store" name="frm">
        <div class="form-group">
            <label for="name">Tên nhân viên</label>
            <input  type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="text" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="form-group">
            <label for="gender">Giới tính</label>
            <input type="text" class="form-control" id="gender" name="gender">
        </div>
        <div class="form-group">
            <label for="gmail">Gmail</label>
            <input type="text" class="form-control" id="gmail" name="gmail">
        </div>
        <button  type="submit" class="btn btn-primary" id="them">Thêm</button>
    </form>
</div>

</div>
<script>
document.getElementById("name").style.border='4px solid rgb(50, 50, 250)';
document.getElementById("phone").style.border='4px solid rgb(50, 50, 250)';
document.getElementById("gender").style.border='4px solid rgb(50, 50, 250)';
document.getElementById("gmail").style.border='4px solid rgb(50, 50, 250)';
document.getElementById("address").style.border='4px solid rgb(50, 50, 250)';
document.getElementById("them").style.border='4px solid rgb(50, 50, 250)';
document.getElementById("them").style.background="#343a40";

</script> 